html,body{
    padding:0;
    margin:0;
}
:root{
    --dark_color: #874356;
    --light-color:#F6E7D8;
    --less-dark_color:#C65D7B;
    --accent-color:#C65D7B;
}
.container{
    height:100vh;
    width: 100vw;
    background-color:var(--dark_color);
}

/*top section*/
.hero{
    background-image:url(../images/top-bg.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    width:100%;
    height:50%;
}
.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color:rgb(212, 81, 5); */
    margin:0 auto;
    width:70%;
    height:100%;
    text-align:center;
}
.search-div{
    display: flex;
    justify-content: space-between;    
    border-top:1px solid;
    padding-left: 5%;
    position: relative;
    border-radius:50em;
    width:35%;
    height :40px;
    background-color:white;
}
.search-div button{
    border:none;
    border-radius: 30em;
    width:30%;
    background-color:rgb(185, 64, 155);
}
.search-div input{
    border:none;
    background-color:rgba(255, 255, 255, 0);
    width:70%
}
.search-div input:focus{
        outline: none;
    }
    
  
.main{
    background-color:rgb(255, 255, 255);
    width:100%;
    
    
}
.main-container{
   
    margin:0 auto;
    width:80%;
    height:100%;
    text-align:center;
    padding-top: 2%;
}
.items{
    display: flex;  
    justify-content:center;
    align-items:center;
    
}

.items button{
    height:30px;
    margin-left:50px;
    border:none;
    border-radius:50px;
    background-color:#874356;
    color:#fff;
}
